html {
  background-color: #161616;
  overflow-x: hidden;
  position: relative;
}

#app {
  background-color: #161616;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow: hidden;
}

.modal-dialog {
  max-width: 60% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-close {
  font-size: 24px;
  top: 10px !important;
  right: 10px !important;
  position: absolute !important;
  z-index: 1000;
}

.logo {
  margin-left: 20px;
  z-index: 1000;
}

.icon-group {
  justify-content: space-evenly;
  /* margin-top: 1rem; */
  margin-right: 60px;
}

.floating-btn {
  position: fixed;
  bottom: 4%;
  left: 30px;
  z-index: 99;
  opacity: 50%;
  font-size: 1.6rem !important;
}

.floating-btn:hover {
  opacity: 1;
}

.header-icon {
  margin: 0 20px;
  color: white !important;
  font-size: 40px;
  z-index: 1000;
  margin-top: 20px;
}

.header-icon:hover {
  color: white !important;
  scale: 1.3 !important;
}

.header-link {
  margin: 0 10px;
  color: white !important;
  font-size: 14px;
  vertical-align: middle;
  text-decoration: none;
  z-index: 1000;
}

.header-link:hover {
  text-decoration: underline;
}

.nav-link {
  color: #262262 !important;
  align-items: center;
  display: flex;
  margin-right: 24px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1000;
}

.nav-link:hover {
  color: white !important;
}

@media (max-width: 991px) {
  .nav-item {
    margin-left: 25px;
  }

  .nav-link {
    color: white !important;
  }

  .navbar-collapse {
    padding-bottom: 8.5rem !important;
  }
}

.description {
  display: flex;
  align-items: center;
}

.center {
  display: inline-block;
  vertical-align: middle;
}

.textr {
  color: white;
  font-family: 'Trebuchet MS';
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 0.6px;
  text-align: right;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 80%;
}

.textl {
  color: white;
  font-family: 'Trebuchet MS';
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: 0.6px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 80%;
}

.texttop {
  color: rgb(212, 21, 200);
  font-family: 'Trebuchet MS';
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: 0.6px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 80%;
  text-shadow: 4px 4px 4px #d00a0af4;
}

.text {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 0.6px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 80%;
}

.header-start {
  justify-content: flex-start;
  margin-right: auto;
}

.header-end {
  justify-content: flex-end;
  margin-left: auto;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.toggle-btn {
  color: white !important;
}

.contentheader {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2em;
}

.primary-hero {
  text-align: center;
  margin-top: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 200px;
  margin-bottom: 20px;
}

.primary-hero-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.content {
  padding-bottom: 80px;
}

.item-img {
  /* -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); */
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
  max-height: 500px;
  min-height: 350px !important;
  min-width: 450px;
}

@media screen and (max-width: 767.98px) {
  .floating-btn {
    font-size: 1rem !important;
  }
  .text {
    font-size: 1rem;
    width: 90%;
  }
  .content {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .text {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}

@media screen and (min-width: 1200px) {
}

.footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.5px;
  margin: 10px;
}

.footer-text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-top: 10px;
}

.footer-sub-text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px;
}

.footer-icon {
  font-size: 30px;
  margin: 20px;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  scale: 1;
}

.footer-icon:hover {
  color: white !important;
}
